body {
	background-image: url('../img/wallpaper.jpeg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.white {
	position: absolute;
	left: 20%;
	background-color: white;
	width: 62%;
	z-index: 0;
	border-radius: 30px;
	text-align: center;
	overflow: hidden;
	margin-bottom:2%;
}

section {
	clear:left;
}

h1 {
	margin-bottom: 0%;
}

h2 {
	text-align:center;
	color: #009bcd;
}

h4{
	text-align:center;
	color: #009bcd;
}

label {
	font-weight: bold;
}

.stat {
	font-size: 17px;
	font-weight: bold;
}

#errore {
	position: relative;
	left: 0%;
	color: red;
	margin-bottom: 2%;
	clear: left;
}

#empty{
	margin-top:2%;
	margin-bottom: 2%;
}

.listalibri{
	list-style-type: none;
	text-align: left;
	margin: 5px 0px;
}

.elementolibro{
	padding: 7px 7px;
	float: left;
}

.elementolibro div{
	float: left;
}

.elementocopertina img{
	max-width:100%;
	max-height:100%;
	border-radius: 3px;
}

.infoelementolibro{
	clear: left;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.infoelementolibro a{
	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
	color: #293d3d;
	font-size: 14px;
	font-family: serif;
	font-weight: bold;
	text-decoration: none;
}

.infoelementolibro p{
	margin: 2px 0px 2px 0px;
	color: #707070;
	font-size: 14px;
	line-height: 2.5ex;
  	height: 2.5ex;
  	overflow: hidden;
  	white-space: nowrap;
  	text-overflow: ellipsis;
}

form input{
	border-radius: 5px;
	padding: 0.3% 0.3% 0.3% 0.3%;
	font: 16px "Helvetica Neue","HelveticaNeue","Helvetica","Arial","sans-serif";
}

input[type="submit"]{
	display: inline-block;
	padding: 11px 7px 11px 7px;
	text-align: center;
	margin-bottom: 2%;
	border: 0;
	font: 16px "Helvetica Neue","HelveticaNeue","Helvetica","Arial","sans-serif";
	box-sizing: border-box;
	text-align: center;
	margin-top: 3%;
	background-color:#009bcd;
	color: white;
	text-align: center;
	border-radius: 8px;
	cursor: pointer;
}

form[name='prenota']{
	position:relative;
	left: 28%;
	width:45%;
	padding-top:1%;
	text-align:center;
}

#cerca{
	position:relative;
	left:22%;
	width:60%;
}

#cerca input[type="text"] {
	display: inline-block;
	padding:1.5%;
	margin-top:2.5%;
	width:30%;
}

#cerca input[type="number"] {
	margin:4% 1%;
	padding:2%;	
}

select {
	border-radius: 5px;
	padding: 0.3% 0.3% 0.3% 0.3%;
	font: 16px "Helvetica Neue","HelveticaNeue","Helvetica","Arial","sans-serif";
	width: 195px;
}

table{
	margin:2% 5% 5% 5%;
	width:90%;
	text-align:center;
	border: 1px solid black;
	border-collapse: collapse;
}

table a {
	color: #006080;
	text-decoration: none;
}

th{
	width:15%;
	padding:2% 0.3% 2% 0.3%;
	background-color: #009bcd;
}

td{
	padding:2% 0.3% 2% 0.3%;
	width:15%;
	border: 1px solid black;
}

.compila {
	width:68%;
	text-align: right;
}

.compila input[type='text'], input[type='number']{
	width: 32%;
	margin-top:1%;
}

.compila .immagine {
	margin-top:1%;
	position: relative;
	left: 27%;
	text-align: center;
}

/*INFO*/

#info {
	text-align: center;
}

#userphoto{
	width:110px;
	height:110px;
	border-radius: 40%;
}

#userinfo{
	display: block;
	margin: 2% 0% 4% 0%;
}

#userinfo input {
	border: 0;
}

#settings {
	position: relative;
	left: 8%;
	width:55%;
	text-align:right;
	padding: 2%;
	margin:0.5%;
}

#settings input[type="text"], input[type="password"]{
	width:35%;
}

#settings select {
	width:36.2%;
}

form[name="settings"] input[type="file"] {
	position: relative;
	left: 2%;
}


#admin {
	left: 33%;
	padding-top: 1%;
	padding-bottom: 2%;
	width: 32%;
}

#admin input[type=submit] {
	margin-left: 2%;
}

input[type='checkbox']{
	margin:0.7%;
}


/* SCHERMO INTERO */
@media only screen and (min-width: 1200px) {

.elementolibro{
	width:185px;
}

.elementocopertina{
	width:500px;
	height:200px;
}

.white{
	top: 20%;
	padding-top:10%;
}

#stat {
	padding-top:1%;
	padding-bottom:1%;
	position:relative;
	left:35%;
	width:30%;
	clear:left;
	border:3px dotted #009bcd;
}

}


/* SCHERMO RIDOTTO */
@media only screen and (max-width: 1200px) {

.white{
	top: 20%;
}


.elementolibro{
	width:185px;
}

.elementocopertina{
	width:500px;
	height:150px;
}

#stat {
	display: none;
}

}

@media only screen and (max-width: 700px) {

.elementolibro{
	position: relative;
	left: 25%;
}

}

